body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1, h3 {
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: white;
}

.genero {
    font-weight: bold;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}